# dependencies
node_modules

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store

# emacs backup
*~

**/coverage/**

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

docs/0426HTML
docs/0510HTML
docs/0603HTML

